.row
  .span8.offset2
    h1.what Wait, what does your startup do?
    h2.basically So, basically, it's like a
    h2.this this
    h2.for for
    h2.that that
    form.form-horizontal.well.actually
      label
        | Really? That sounds just like
        input(type='text', name='actually')
