.row
  .span8.offset2
    h1.what Wait, what does your startup do?
    section
      h1.basically So, basically, it's like a
      h1.this this
      h1.for for
      h1.that that
      form.form-horizontal.well.actually
        label
          | Really? That sounds just like
          input(type='text', name='actually')
