!!!
html
  //
    | Copyright © 2012 Evan Broder
    | 
    | This program is free software; you can redistribute it and/or modify
    | it under the terms of the GNU General Public License as published by
    | the Free Software Foundation; either version 2 of the License, or (at
    | your option) any later version.
    | 
    | This program is distributed in the hope that it will be useful, but
    | WITHOUT ANY WARRANTY; without even the implied warranty of
    | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    | General Public License for more details.
    | 
    | You should have received a copy of the GNU General Public License
    | along with this program; if not, write to the Free Software
    | Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
    | 02110-1301 USA.
  head
    title It's Actually This for That
    link(rel='stylesheet', href='/styles/bootstrap.css')
  body
    .container!= body

      footer.footer
        p Built by 
          a(href="http://twitter.com/ebroder") Evan Broder
          |  with thanks to 
          a(href="http://itsthisforthat.com/") itsthisforthat.com
        p Licensed under the 
          a(href="http://www.gnu.org/licenses/gpl-2.0.html") GPLv2+
          | . Source is 
          a(href="https://github.com/ebroder/itsactuallythisforthat") available on Github
